@import url("https://fonts.cdnfonts.com/css/thegoodmonolith");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
:root {
  --bg-clr: hsl(0, 0%, 15%);
  --gap: 1rem;
  --tx-clr: hsl(0, 0%, 95%);
  --mrg: 5rem;
  --font: "thegoodmonolith";
}
html {
  font-family: "thegoodmonolith", sans-serif;
}
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background: var(--bg-clr);
  color: var(--tx-clr);
}
header {
  overflow: hidden;
}
.scroll {
  animation: scroll linear infinite 20s;
  display: flex;
  justify-content: space-around;
}
@keyframes scroll {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(-100%);
  }
}
.welcome {
  margin-top: 1rem;
  margin-right: 8rem;
  font-style: italic;
  font-size: 3rem;
  color: #f5dc6f;
}
.title {
  margin-left: 2rem;
}
.title {
  font-size: 0.9rem;
  align-self: self-end;
}
main {
  margin-top: 2rem;
}
p {
  font-size: 1.2rem;
}
h1,
.number {
  font-size: 2.5rem;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.again {
  position: absolute;
  left: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;

  gap: var(--gap);
  margin-top: 3rem;
}
.headline {
  /* font-size: 4rem; */
  font-size: clamp(20px, 5vw, 54px);
}
.number {
  font-size: 6rem;
  font-weight: 900;
  color: var(--bg-clr);
  display: flex;
  text-align: center;
  background: var(--tx-clr);
  justify-content: center;
  align-items: center;
  width: 10rem;
}
.btn {
  padding: 0.5em 0.9em;
  font-size: 1.9rem;
  border: none;
  outline: none;
  background-color: var(--tx-clr);
  color: var(--bg-clr);
  border-radius: 5px;
  font-family: var(--font);
  font-weight: 700;
  cursor: pointer;
}
.btn:hover {
  background-color: #cccccc;
}

.message {
  margin-bottom: 3rem;
  font-size: 2rem;
}
.start {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.left {
  padding: 2rem;
}
.check {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.plc {
  margin-inline: 1.5rem;
  padding: 0.7rem;
  font-size: 3rem;
}
.label-score,
.label-highscore {
  font-size: 2.5rem;
}
@media screen and (max-width: 756px) {
  .number {
    font-size: 5rem;
    font-weight: 900;
    color: var(--bg-clr);
    display: flex;
    text-align: center;
    background: var(--tx-clr);
    justify-content: center;
    align-items: center;
    width: 7rem;
    margin-top: 1rem;
  }
  .btn {
    padding: 0.5em 0.9em;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: var(--tx-clr);
    color: var(--bg-clr);
    border-radius: 5px;
    font-family: var(--font);
    font-weight: 700;
    cursor: pointer;
  }
  .again {
    position: absolute;
    left: calc((100vw - 108px) / 2);
    top: 20rem;
    margin-block: 2rem;
  }
  .label-score,
  .label-highscore,
  .message,
  .start,
  .plc {
    font-size: 1.3rem;
  }
}
.label-score,
.label-highscore {
  text-align: center;
}
.right {
  margin-block-start: 1rem;
}
.title {
  text-align: center;
  margin-left: 0;
}
.start {
  margin-top: 1rem;
}
